@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
   .header_area .navbar .search {
		margin-left: 40px;
	}
	/* End Main Menu Area css
	============================================================================================ */
}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	.header_area + section, .header_area + div {
		margin-top: 0;
	}
	.top_menu .container{
		display: block;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area {
		min-height: 700px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.header_magazin img{
		max-width: 100%;
	}
	.blog_style1 .blog_text {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
	.logo_part {
		display: none;
	}
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
		float: right;
	}
	.header_area {
		display: flex;
		flex-direction: column;
	}

	.header__banner {
		order: 2;
	}
	.main_menu {
		order: -1;
	}
	.header_area .navbar {
		background: #fff;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #222;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
		padding: 0px 0px;
		padding-top: 20px;
    }
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
		line-height: 30px;
		margin-right: 0px;
		font-size: 16px;
		display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
		font-family: 'Comfortaa', sans-serif;
		padding: 0;
		margin: 0 20px;
		margin-bottom: 20px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0;
	}
	.main_menu .navbar .container_inner {
		display: block;
	}
	.main_menu .navbar .navbar-brand {
		display: inline-block;
		padding-top: 11px;
		width: 173px;
	}
	.main_menu .navbar .navbar-brand img {
		width: 100%;
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.single-footer-widget{
		margin-bottom: 30px;
	}
	.footer-area .row{
		margin-bottom: -30px;
	}
	/* Footer Area css
	============================================================================================ */
	/* End End Footer Area css
	============================================================================================ */
	.home_banner_area {
		background-size: cover;
		margin-bottom: 0px;
	}
	/* Extra header Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item .nav-link {
		color: #222222;
	}
	.main_menu .navbar .nav .nav-item:hover .nav-link, .main_menu .navbar .nav .nav-item.active .nav-link {
		color: #1b42c7;
	}
	.header_area .navbar .search {
		color: #222;
		padding-left: 20px;
	}
	/* End Extra header Area css
	============================================================================================ */
	.blog_right_sidebar {
		margin-top: 25px;
	}

	
	.blog_style1_row .col-lg-8{
		padding-left: 15px;
	   }

}
@media (max-width:767px){
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-bottom .footer-text{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-bottom: 20px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.blog_img img{
		width: 100%;
	}
	.post_s_item .post_img img{
		width: 100%;
	}
}
@media (max-width:575px){
	
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0;
	}
	.top_menu {
		display: none;
	}
	
	.blog_right_sidebar {
		padding: 20px 10px;
	}

    /* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 28px;
	}
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.blog_banner .banner_inner .blog_b_text {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content img{
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content .date a {
		margin-right: 8px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	.banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}
	.mt-100 {
		margin-top: 50px;
	}
	.single-footer-widget p {
		max-width: 100%;
	}
	.p_100 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_blog_details h4 {
		font-size: 28px;
	}
	.main_blog_details h4 br {
		display: none;
	}
	.main_blog_details .news_d_footer {
		display: block;
		text-align: center;
	}
	.main_blog_details .news_d_footer .justify-content-center {
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.post_s_item .post_text {
		left: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer-area {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.blog_style1 .blog_text {
		padding-left: 10px;
		padding-right: 10px;
	}
	.blog_style1 .blog_text .blog_text_inner {
		padding: 25px 0px;
	}

	.header__banner {
		height: 250px;
	}

	.header_area .navbar .nav .nav-item .nav-link {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	.main_blog_details {
		padding: 8px;
	}

	.main_blog_details h1, h2, h3, h4, h5, h6  {
		font-size: 18px !important;
	}

	.main_blog_details ul{
		padding-left: 15px !important;
	}

	.main_blog_details .blockquote p {
		    border-left: none;
			padding: 10px
	}
	.main_blog_details .blockquote {
		margin: 20px 0;
	}
}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse{
		/* max-height: 250px; */
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.banner_content .white_btn {
		display: block;
	}
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 24px;
	}
	.home_banner_area .carousel .carousel-indicators {
		bottom: -50px;
		z-index: 20;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area {
		min-height: 400px;
	}
	.home_banner_area .banner_inner {
		min-height: 400px;
	}
	.article__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.blog_style1 .blog_text .blog_text_inner {
		margin-top: 0px;
		box-shadow: none;
		padding: 20px 5px;
	}

	.main_blog_title {
	    font-size: 20px;
		padding: 20px 10px;
		margin-bottom: 30px;
	}

	.article__bottom-deposit {
		margin-top: 15px;
		width: 100%;
		justify-content: center;
	}

	.p_120 {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.blog_style1 {
		margin-bottom: 30px;
	}

	.blog_style1 .blog_text {
		padding-left: 0px;
		padding-right: 0px;
	}
	.user_details .float-left{
		margin-bottom: 15px;
	}

	.blog_style1 .blog_text .blog_text_inner h4 {
		font-size: 16px;
		font-family: "Comfortaa", sans-serif;
		line-height: 21px;
		color: #222222;
		font-weight: 700;
		padding-right: 0;
		margin-bottom: 17px;
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.footer_copyright {
		text-align: left;
	}

	.main_menu .navbar .navbar-brand img {
		width: 85%;
	}

	.blog_style1.small .blog_text .blog_text_inner h4 {
		font-size: 16px;
		line-height: 21px;
	}

	.blog_style1.small .blog_text .blog_text_inner p {
		font-size: 12px;
		line-height: 21px;
		color: #777777;
		margin-bottom: 22px;
	}

	.comments-area .btn-reply {
		padding: 0px 7px;
		font-size: 11px;
	}

	.comments-area .comment-list .single-comment h5 {
		font-size: 14px !important;
	}

	.comment-form {
		background: #fff;
		text-align: left;
		padding: 35px 10px 35px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.comment-form .submit_btn {
		max-width: 100%;
	}

	.comment-form h4 {
		text-align: center;
		text-transform: uppercase;
	}

	.comments-area .comment-list .single-comment .comment {
		font-size: 12px;
		line-height: 1.6;
	}

	.contacts__content {
		padding: 20px 10px;
	}

	

}